<input type="text" [(ngModel)]="searchQuery" (input)="filterStudios()" placeholder="Search by area">

<div *ngFor="let studio of studios; trackBy: trackById" class="studio-card">
    <h3>{{ studio.Name }}</h3>
    <p>Type: {{ studio.Type }}</p>
    <p>Location: {{ studio.Location.City }}, {{ studio.Location.Area }}</p>
    <p>Amenities: {{ studio.Amenities.join(', ') }}</p>
    <p>Price: {{ studio.PricePerHour }} {{ studio.Currency }}</p>
    <p>Rating: {{ studio.Rating }}</p>
    <img src="{{ studio.Images[0] }}" alt="{{ studio.Name }}" />

    <button (click)="selectStudio(studio)">Book Now</button>

    
    <app-booking *ngIf="selectedStudio?.Id === studio.Id" [studio]="studio"></app-booking>
</div>
